mat-grid-tile {
  background: gray;
}

.xBackground {
  background-image: url('../../assets/x.svg') !important;
  background-size: contain;
}

.yBackground {
  background-image: url('../../assets/o.svg') !important;
  background-size: contain;
}
