<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div *ngIf="isLoading()" class="col-12 w-100">
        <mat-spinner class="mx-auto"></mat-spinner>
        <div class="text-center w-100"><i>Uruchamianie serwera. Proszę czekać</i></div>
      </div>

      <div *ngIf="!isLoading() && game && game.map &&game.map.length > 0">

        <div *ngIf="game.state == 'NEW'" class="col-12 w-100">
          <mat-spinner class="mx-auto"></mat-spinner>
          <div class="text-center w-100"><i>Oczekiwanie na drugiego gracza</i></div>
        </div>


        <mat-grid-list *ngIf="game.state !== 'NEW'" cols="3" rowHeight="1:1">
          <mat-grid-tile *ngFor="let tile of game.map; let i = index"
                         [ngClass]="isXOnField(i) ? 'xBackground' : isYOnField(i) ? 'yBackground' : ''"
                         (click)="move(i)"></mat-grid-tile>
        </mat-grid-list>
        <p *ngIf="game.state=='RUNNING' && sessionId === game.currentPlayer.sessionId">Twój ruch
          <span *ngIf="game.currentPlayer.sessionId === game.xplayer.sessionId">X</span>
          <span *ngIf="game.currentPlayer.sessionId === game.oplayer.sessionId">O</span>
        </p>
        <button *ngIf="game.state === 'CLOSED'" class="btn btn-success mr-2 mt-2" (click)="sendRematchOffer()">Rewanż
        </button>
        <span *ngIf="game.state === 'ABANDONED'">Przeciwnik porzucił grę</span>
        <span
          *ngIf="game.state==='CLOSED'&&(sessionId===game.oplayer.sessionId && game.oplayer.rematchRequestSend)
          || (sessionId === game.xplayer.sessionId && game.xplayer.rematchRequestSend)" class="blinking">Wysłano prośbę o rewanż</span>
        <span
          *ngIf="game.state==='CLOSED' && (sessionId!==game.oplayer.sessionId && game.oplayer.rematchRequestSend)
          || (sessionId !== game.xplayer.sessionId && game.xplayer.rematchRequestSend)" class="blinking">Przeciwnik chce rewanżu</span>

        <button class="btn btn-info mb-3" *ngIf="game.state === 'NEW'"
                (click)="copyMessage(apiUrl() + 'tic/' + uri)"
                value="Zaproś znajomego">
          Zaproś znajomego
        </button>

        <mat-divider class="my-3"></mat-divider>
        <table id="results" class="mx-auto" *ngIf="results.length > 0">

          <tr>
            <th>Ty</th>
            <th *ngFor="let result of results">
            <span *ngIf="result === 1">
              1
            </span>
              <span *ngIf="result === 0">
              ½
            </span>
              <span *ngIf="result === -1">
              0
            </span>

            </th>
          </tr>

          <tr>
            <th>Przeciwnik</th>
            <th *ngFor="let result of results">
            <span *ngIf="result === 1">
              0
            </span>
              <span *ngIf="result === 0">
              ½
            </span>
              <span *ngIf="result === -1">
              1
            </span>

            </th>
          </tr>

        </table>
      </div>
    </div>
  </div>
</div>
