mat-grid-tile {
  background: gray;
}

.xBackground {
  background-image: url('../../assets/x.svg') !important;
  background-size: contain;
}

.yBackground {
  background-image: url('../../assets/o.svg') !important;
  background-size: contain;
}

.blinking{
  animation: blink 1s linear infinite;
  color: white;
}

@keyframes blink{
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
}

table th + th { border-left:1px solid #ddd; }

#results, th, td{
  padding: 10px;
}

table tr {
  border-bottom: 1px solid #ddd;
}

table tr:last-child {
   border-bottom: 0;
 }
