<div class="container mt-2">
    <div class="row">
        <div class="mx-auto bg-black" *ngIf="loaded">
            <div id="maze">
                <div *ngFor="let x of getMazePoints(); let i = index" class="maze-row">
                    <div *ngFor="let y of x; let j = index" class="maze-col">
                        <div
                            [ngClass]="[getMazePoints()[i][j].isOccupied ? 'occupied-field' : 'free-field', isPlayerOnField(i,j) ? 'player' : '', isComputerOnField(i,j) ? 'computer' : '', isMetaOnField(i, j) ? 'meta' : '']">
                            &nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>