<div class="container-fluid">

  <div *ngIf="publicChatService.loading" class="mt-3 col-12 w-100">
    <mat-spinner class="mx-auto"></mat-spinner>
    <div class="text-center w-100"><i>Uruchamianie serwera</i></div>
  </div>
  <div *ngIf="!publicChatService.loading">
    <div class="row h-75 mt-2">
      <div class="col-8 h-75" style="height: 60vh">
        <div style="overflow-y: auto; height:75vh" #scrollMe [scrollTop]="scrollMe.scrollHeight">
          <mat-card>
            <mat-card *ngFor="let message of publicChatService.messages"
                      [ngClass]="message.authorRandomId === publicChatService.randomId ? 'my-message' : 'other-message'"
                      style="max-height: 80vh">
              {{ message.message }}
            </mat-card>
          </mat-card>
        </div>
      </div>

      <div class="col-4">
        Lista członków
        <div *ngFor="let member of publicChatService.members">
          <div class="circle"></div>
          {{member.username}}</div>
      </div>
    </div>

    <form (keydown.enter)="sendMessage()" (ngSubmit)="sendMessage()">
      <div style="position:absolute; bottom:0; width: 95%;">
        <div class="col-12">
          <mat-divider></mat-divider>
          <mat-form-field style="width:90%">
            <mat-label>Treść wiadomości</mat-label>
            <textarea [(ngModel)]="publicChatService.message.message" matInput [ngModelOptions]="{standalone: true}"
                      (keydown.enter)="$event.preventDefault()"
                      placeholder="Treść wiadomości"></textarea>
          </mat-form-field>

          <button mat-raised-button color="primary" class="ml-3">Wyslij
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
