<div class="container">
  <div class="row" *ngIf="isLoading">
    <div class="col-12 w-100">
      <mat-spinner class="mx-auto"></mat-spinner>
      <div class="text-center w-100"><i>Uruchamianie serwera. Proszę czekać</i></div>
    </div>
  </div>


  <div *ngIf="!isLoading && !colorChoosen" class="col-12 w-100">
    <div class="mx-auto text-center">
      <div class="h2">Wybierz kolor</div>
      <mat-button-toggle-group name="color" aria-label="Color">
        <mat-button-toggle (click)="changeColor(1)" id="blackButton" >Czarne</mat-button-toggle>
        <mat-button-toggle (click)="changeColor(2)"id="whiteButton">Białe</mat-button-toggle>
        <mat-button-toggle (click)="changeColor(3)" id="randomButton"><span class="blackWhite">Losowo</span></mat-button-toggle>
      </mat-button-toggle-group>
      <div class="row">
        <button class="btn btn-success my-3 mx-auto"
                (click)="sendCreateGameRequest()"
                value="Zaproś znajomego">
          Utwórz grę!
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="!isLoading && colorChoosen" class="col-12 w-100">
    <div class="text-center w-100">
      <button class="btn btn-info my-3 mx-auto"
              (click)="copyMessage(apiUrl() + 'chess/' + getUri())"
              value="Zaproś znajomego">
        Zaproś drugiego gracza, aby rozpocząć grę (naciśnij)
      </button>


    </div>
  </div>
  <div class="row" *ngIf="!isLoading && playersReady">
    <div class="col-2 info" style="font-size: 25px">
      <div class="row" style="height:50%;">
        Przeciwnik
      </div>
      <div class="row">
        Gracz
      </div>
    </div>
    <!--
        <div class="progress progress-bar-vertical"  >
          <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"
               [style.height.%]="calculation">
            <span class="sr-only"></span>
          </div>
        </div>-->
    <div class="progress progress-bar-vertical" [style.background-color]="isWhiteBottom() ? '#000' : '#fff' ">
      <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"
           [style.height.%]="calculation" [style.background-color]="isWhiteBottom() ? '#fff' : '#000' ">
        <span class="sr-only"></span>
      </div>
    </div>
    <div style="padding-left: 5px">
      <div id="board">
        <div ngResizable id="drag" [rzMinWidth]="240" [rzMaxWidth]="2400" [rzMinHeight]="240"
             (mousedown)="onMouseDown($event)" #dragRef [rzMaxHeight]="2400" [rzAspectRatio]="aspectRatio">
          <div *ngFor="let row of getBoard(); let i = index" class="board-row">
            <div *ngFor="let col of row; let j = index" class="board-col"
                 [ngClass]="[((i + j) %2 === 0 ) ?  'bg-black' : 'bg-shine', isXYInPossibleMoves(i,j) ? 'possible-point' : '', isXYInPossibleCaptures(i,j) ? 'possible-capture' : '']">
              <div *ngIf="getPieceByPoint(i, j)" style="height:100%; width:100%">
                <div [style.background-image]="'url(assets/'+getPieceByPoint(i,j).image + ')'"
                     [ngClass]="isKingChecked(getPieceByPoint(i,j)) ? 'king-check' : ''" class="piece">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1" style="margin-top: auto;
    margin-bottom: auto;">
      <button (click)="rotateBoard()" class="btn btn-success">Obróć
      </button>
      <button (click)="sendRematchOffer()" *ngIf="getIsGameFinished()" class="btn btn-primary mt-2 blinking">Rewanż
      </button>
    </div>
  </div>
</div>
