@media only screen and (max-width: 768px) {
  #board {
    width: 80vw !important;
    height: 80vw !important;
    display: inline-block !important;
  }

  .info {
    display: none;
  }

  .progress-bar-vertical {
    height: 80vw !important;
  }

}


.progress-bar-vertical {
  width: 20px;
  height: 40vw;
  display: flex;
  align-items: flex-end;
  background-color: #000;
  float: left;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  background-color: #fff;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

#board {
  width: 40vw;
  height: 40vw;
}

.board-row {
  display: block;
  width: 100%;
  height: 12.5%;
}

.board-col {
  display: inline-block;
  width: 12.5%;
  vertical-align: top;
  cursor: default;
  height: 100%;
}

.bg-black {
  background-color: #BAA378;
}

.bg-shine {
  background-color: rgb(97, 84, 61);
}

.piece {
  height: 100%;
  cursor: grab;
  width: 100%;
  background-size: cover;
}

.piece::after {
  content: '\200b';
}

#drag {
  height: 100%;
  // border: 3px solid blue;
  width: 100%;
}

.possible-point {
  border: 3px solid black;
}

.possible-capture {
  border: 3px solid rgb(0, 255, 42);
}

.king-check {
  border: 5px solid red;
}

.blinking {
  animation: blink 1s linear infinite;
  color: white;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.mat-button-toggle-checked:nth-child(1) {
  box-shadow: 0 0 30px #000 !important;
  border: 1px #000 solid !important;
  border-radius: 5px !important;
  background-color: #000 !important;
}

.mat-button-toggle-checked:nth-child(2) {
  box-shadow: 0 0 30px #000 !important;
  border: 1px #000 solid !important;
  border-radius: 5px !important;
  color: black !important;
  background-color: #FFF !important;
}

.source-move {
  background-color: #b47f00;
}

.dest-move {
  background-color: #eeaa00;
}

#chat-box {
  border: 2px solid #673ab7;
  border-radius: 3px;
  min-height: 50%;
  margin-top: 5px;
  height: 50%;
  max-height: 50%;
}

#send-box {
  border-top: 1px solid gray;
  bottom: 0;
  position: absolute;
}


@media screen and (max-height: 768px) {
  .infos {
    height: 200px;
    max-height: 200px;
  }

  #chat-box {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
  }
}

ul {
  list-style-type: none;
}

li {
  border-bottom: 1px solid grey;
  word-wrap: break-word;
}

li:last-child {
  border: none;
}


.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.form-control {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
  display: block;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#copy-button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: auto;
  background-color: #017d00;
  color: #fff;
  margin: 0;
}

#history-box {
  margin-top: 3px;
  border: 3px solid #282921;
  border-radius: 5px;
  height: 40%;
  overflow: auto;
}

.history-item {
  display: inline-block;
}

#history-info {
  background-color: #4e555b;
}
