<div class="container mt-2">
  <div class="row">
    <div class="col-md-9 bg-black">
      <button class="btn btn-info mb-3"
              (click)="copyMessage('https://online-games-69bcf.firebaseapp.com/maze/multi/' + uri)"
              value="Zaproś znajomego">
        Zaproś znajomego
      </button>
      <div *ngIf="!isLoading()">
        <div class="mx-auto height">
          <div id="maze">
            <div *ngFor="let x of getMazePoints(); let i = index" class="maze-row">
              <div *ngFor="let y of x; let j = index" class="maze-col">
                <div
                  [ngClass]="[getMazePoints()[i][j].occupied ? 'occupied-field' : 'free-field', isPlayerOnField(i,j) ? 'player' : '', isMetaOnField(i, j) ? 'meta' : '']">
                  &nbsp;
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="col-md-3">
        <div class="row mt-2 mobile">
          <div class="mx-auto">
            <button class="btn btn-success mb-2" style="height: 60px; width: 60px" (click)="moveByClick(1)">↑</button>
            <br/>
          </div>

        </div>
        <div class="row mobile">
          <div class="mx-auto">
            <button class="btn btn-success" style="height: 60px; width: 60px" (click)="moveByClick(3)">←</button>
            <button class="btn btn-success mx-2" style="height: 60px; width: 60px" (click)="moveByClick(2)">↓</button>
            <button class="btn btn-success" style="height: 60px; width: 60px" (click)="moveByClick(4)">→</button>
          </div>
        </div>

        <mat-form-field class="example-full-width">
          <mat-label>Wyślij wiadomość</mat-label>
          <input matInput [(ngModel)]="message.message">
        </mat-form-field>
        <button class="ml-3 btn btn-success" (click)="sendMessage()">Wyślij</button>
        <ul class="list-group">
          <li *ngFor="let message of messages" class="list-group-item">{{message.message}}</li>

        </ul>

      </div>
    </div>
  </div>
