<div class="container mt-2">
  <div class="row">
    <div class="mx-auto bg-black">
      <h4>https://online-games-69bcf.firebaseapp.com/maze/multi/{{uri}}</h4><button (click)="copyMessage('https://online-games-69bcf.firebaseapp.com/maze/multi/' + uri)" value="Kopiuj" >Kopiuj</button>

      <div *ngIf="!isLoading()">
        <div class="mx-auto height">
          <div id="maze">
            <div *ngFor="let x of getMazePoints(); let i = index" class="maze-row">
              <div *ngFor="let y of x; let j = index" class="maze-col">
                <div
                  [ngClass]="[getMazePoints()[i][j].occupied ? 'occupied-field' : 'free-field', isPlayerOnField(i,j) ? 'player' : '', isMetaOnField(i, j) ? 'meta' : '']">
                  &nbsp;
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
