#maze {
  height: 100%;
  width: 100%;
  background-color: black;
  border: 2px solid blue;
}

@media screen and (max-width: 768px) {
  .height {
    height: 80vw;
    width: 80vw;
  }

  .mobile {
    margin-bottom: 5px;
    visibility: visible;
  }
}

@media screen and (min-width: 768px) {
  .height {
    height: 40vw;
    width: 40vw;
  }

  .mobile {
    display: none;
  }
}

.maze-row {
  display: block;
  width: 100%;
  height: 3%;
}

.list-group-item {
  background-color: transparent;
  border: 3px solid #673ab7;
}

.maze-col {
  display: inline-block;
  width: 3.3%;
  height: 100%;
  vertical-align: top;
  cursor: default;
}

.occupied-field {
  background-color: black;

}


.free-field {
  background-color: gray;
}

.maze-col::after {
  content: '\200b';
}

.player {
  background-color: peru;
}

.computer {
  background-color: red;
}

.square {
  height: 100%;
  width: 100%;
}

.meta {
  background-color: green;
}

.path {
  background-color: purple;
}

.circle {
  display: inline-block;
  height: 8px;
  width: 8px;
  background-color: #00ff00;
  border-radius: 10px;
}
