<div class="container mt-2">
  <div class="row">
    <div class="col-md-9 bg-black">

      <div *ngIf="isLoading()" class="col-12 w-100">
        <mat-spinner class="mx-auto"></mat-spinner>
        <div class="text-center w-100"><i>Uruchamianie serwera. Proszę czekać</i></div>
      </div>

      <div *ngIf="!isLoading()">
        <div class="mx-auto height">
          <div class="row">
            <div class="mx-auto h4">
              Użyj WSAD aby sterować
            </div>
          </div>
          <div id="maze">
            <div *ngFor="let x of getMazePoints(); let i = index" class="maze-row">
              <div *ngFor="let y of x; let j = index" class="maze-col">
                <div
                  [ngClass]="[getMazePoints()[i][j].occupied ? 'occupied-field' : 'free-field', isPlayerOnField(i,j) ? 'player' : '', isMetaOnField(i, j) ? 'meta' : '']">
                  &nbsp;
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3" *ngIf="!isLoading()">
      <div class="row mt-5 mobile">
        <div class="mx-auto">
          <button class="btn btn-success mb-2" style="height: 60px; width: 60px" (click)="moveByClick(1)">↑</button>
          <br/>
        </div>

      </div>
      <div class="row mobile">
        <div class="mx-auto">
          <button class="btn btn-success" style="height: 60px; width: 60px" (click)="moveByClick(3)">←</button>
          <button class="btn btn-success mx-2" style="height: 60px; width: 60px" (click)="moveByClick(2)">↓</button>
          <button class="btn btn-success" style="height: 60px; width: 60px" (click)="moveByClick(4)">→</button>
        </div>
      </div>
      <button class="btn btn-info mb-3"
              (click)="copyMessage(apiUrl() + 'maze/multi/' + uri)"
              value="Zaproś znajomego">
        Zaproś znajomego
      </button>
      <mat-divider></mat-divider>
      Lista graczy
      <div *ngFor="let player of players">
        <div class="circle"></div>
        {{player.username}}</div>
      <mat-divider></mat-divider>
      <div class="form-inline">

        <div class="form-group">
          <mat-form-field class="example-full-width">
            <mat-label>Wyślij wiadomość</mat-label>
            <input matInput [(ngModel)]="message.message">
          </mat-form-field>
          <button class="ml-3 btn btn-success" (click)="sendMessage()">Wyślij</button>
        </div>
      </div>
      <ul class="list-group">
        <li *ngFor="let message of messages" class="list-group-item">{{message.message}}</li>
      </ul>

    </div>
  </div>
</div>
