<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <div>Online games</div>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
               [fixedTopGap]>
    <mat-nav-list>
      <a mat-list-item routerLink="/board">
        <mat-icon>dashboard</mat-icon>
        <a>Szachy</a>
      </a>
      <a mat-list-item routerLink="/chess">
      <mat-icon>dashboard</mat-icon>
      <a>Szachy multiplayer</a>
    </a>
      <a mat-list-item routerLink="/maze">
        <mat-icon>dashboard</mat-icon>
        <a>Labirynt</a>
      </a>
      <a mat-list-item routerLink="/maze/multi">
        <mat-icon>dashboard</mat-icon>
        <a>Labirynt multiplayer</a>
      </a>
      <a mat-list-item routerLink="/chat">
        <mat-icon>dashboard</mat-icon>
        <a>Chat</a>
      </a>
      <a mat-list-item routerLink="/tic">
        <mat-icon>dashboard</mat-icon>
        <a>Kółko i krzyżyk multiplayer</a>
      </a>
      <mat-divider></mat-divider>

      <div class="text-center mt-3">
        <button class="btn btn-success mx-auto" style=" text-align: right" (click)="auth.login()"
                *ngIf="!auth.loggedIn">
          Logowanie
        </button>
        <button class="btn btn-primary" (click)="auth.logout()" *ngIf="auth.loggedIn">Wyloguj</button>
      </div>

    </mat-nav-list>
    <div id="version">
      v4.1.7
    </div>

  </mat-sidenav>

  <mat-sidenav-content>

    <div id="wrapper">
      <router-outlet>
      </router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
