<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <div>Chess online</div>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
               [fixedTopGap]>
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon>dashboard</mat-icon>
        <a routerLink="/board">Szachy</a>
      </a>
      <a mat-list-item>
        <mat-icon>dashboard</mat-icon>
        <a routerLink="/maze">Labirynt</a>
      </a>
      <a mat-list-item>
        <mat-icon>dashboard</mat-icon>
        <a routerLink="/maze/multi">Labirynt multiplayer</a>
      </a>
      <a mat-list-item>
        <mat-icon>dashboard</mat-icon>
        <a routerLink="/chat">Chat</a>
      </a>
      <mat-divider></mat-divider>

      <div class="row mt-3">
        <span class="mx-auto">
      <button class="btn btn-success" (click)="auth.login()" *ngIf="!auth.loggedIn">Logowanie</button>
      <button class="btn btn-primary" (click)="auth.logout()" *ngIf="auth.loggedIn">Wyloguj</button>
    </span>
      </div>
    </mat-nav-list>
    <div id="version">
      v1.0.6
    </div>

  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>

    <div id="wrapper">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
