.message{
  background-color: #99a7ff;
  width: 80%;
  word-wrap: break-word;
  margin-bottom: 20px;
}

.my-message{
  background-color:#8c8c8c;
  width: 80%;
  word-wrap: break-word;
  margin-left: auto;
  margin-bottom: 20px;
}

.other-message{
  background-color:#99a7ff;
  width: 80%;
  word-wrap: break-word;
  margin-bottom: 20px;
}
